<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<form action="#" method="POST">
    <select name="categories">
        {% for i in categories %}
        <option>{{ i }}</option>
        {% endfor %}
    </select>

    <select name="regions">
        {% for j in regions %}
        <option>{{ j }}</option>
        {% endfor %}
    </select>

    <input type="text" placeholder="Поиск">

    <button type="submit">Найти</button>
</form>
</body>
</html>